@font-face
{
    font-family: 'BallparkWeiner';
    src: url('polices/ballpark.eot');
    src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'),
         url('polices/ballpark.woff') format('woff'),
         url('polices/ballpark.ttf') format('truetype'),
         url('polices/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('polices/dayrom.eot');
    src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'),
         url('polices/dayrom.woff') format('woff'),
         url('polices/dayrom.ttf') format('truetype'),
         url('polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}
principal,h5 {
	font-family: 'Dayrom', Arial, sans-serif;
	font-size:1.5em;
	
}

.avatar {

	height:5em;
	
	align-items: center;
}
body{
	  font-family: 'Trebuchet MS', Arial, sans-serif;
	
 background:url("media/cement.jpg");

}
#logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.titre {
color:blue;
 font-family: 'BallparkWeiner', Arial, sans-serif;	

}
#bloc{
	width: 900px;
    margin: auto;
}
header {
	  display: flex;
    justify-content: justify;
    align-items: flex-end;
}
	
	
.principal{
	 

	width: 80%;
  text-align: justify;

 font-family: Dayrom, serif;
		
	
}
p{
	
	  box-shadow: 1px 1px 1px 1px grey ;
	
}
ul{
	list-style-type:none;
}
.reseau ul, .reseau li{
	 display: inline;
    margin: 0;
    padding: 0;
  
}





.